## Handiling the categorical features

 ### One Hot Encoding

In [34]:
import pandas as pd

In [48]:
df = pd.read_csv("titanic.csv")

In [36]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [38]:
pd.get_dummies(df["Sex"]).head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [49]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
encoder_obj = OneHotEncoder(handle_unknown='ignore')

In [58]:
encoder_obj.fit(np.array(df["Pclass"]))

ValueError: Expected 2D array, got 1D array instead:
array=[3 1 3 1 3 3 1 3 3 2 3 1 3 3 3 2 3 2 3 3 2 2 3 1 3 3 3 1 3 3 1 1 3 2 1 1 3
 3 3 3 3 2 3 2 3 3 3 3 3 3 3 3 1 2 1 1 2 3 2 3 3 1 1 3 1 3 2 3 3 3 2 3 2 3
 3 3 3 3 2 3 3 3 3 1 2 3 3 3 1 3 3 3 1 3 3 3 1 1 2 2 3 3 1 3 3 3 3 3 3 3 1
 3 3 3 3 3 3 2 1 3 2 3 2 2 1 3 3 3 3 3 3 3 3 2 2 2 1 1 3 1 3 3 3 3 2 2 3 3
 2 2 2 1 3 3 3 1 3 3 3 3 3 2 3 3 3 3 1 3 1 3 1 3 3 3 1 3 3 1 2 3 3 2 3 2 3
 1 3 1 3 3 2 2 3 2 1 1 3 3 3 2 3 3 3 3 3 3 3 3 3 1 3 2 3 2 3 1 3 2 1 2 3 2
 3 3 1 3 2 3 2 3 1 3 2 3 2 3 2 2 2 2 3 3 2 3 3 1 3 2 1 2 3 3 1 3 3 3 1 1 1
 2 3 3 1 1 3 2 3 3 1 1 1 3 2 1 3 1 3 2 3 3 3 3 3 3 1 3 3 3 2 3 1 1 2 3 3 1
 3 1 1 1 3 3 3 2 3 1 1 1 2 1 1 1 2 3 2 3 2 2 1 1 3 3 2 2 3 1 3 2 3 1 3 1 1
 3 1 3 1 1 3 1 2 1 2 2 2 2 2 3 3 3 3 1 3 3 3 3 1 2 3 3 3 2 3 3 3 3 1 3 3 1
 1 3 3 1 3 1 3 1 3 3 1 3 3 1 3 2 3 2 3 2 1 3 3 1 3 3 3 2 2 2 3 3 3 3 3 2 3
 2 3 3 3 3 1 2 3 3 2 2 2 3 3 3 3 3 3 3 2 2 3 3 1 3 2 3 1 1 3 2 1 2 2 3 3 2
 3 1 2 1 3 1 2 3 1 1 3 3 1 1 2 3 1 3 1 2 3 3 2 1 3 3 3 3 2 2 3 1 2 3 3 3 3
 2 3 3 1 3 1 1 3 3 3 3 1 1 3 3 1 3 1 3 3 3 3 3 1 1 2 1 3 3 3 3 1 1 3 1 2 3
 2 3 1 3 3 1 3 3 2 1 3 2 2 3 3 3 3 2 1 1 3 1 1 3 3 2 1 1 2 2 3 2 1 2 3 3 3
 1 1 1 1 3 3 3 2 3 3 3 3 3 3 3 2 1 1 3 3 3 2 1 3 3 2 1 2 1 3 1 2 1 3 3 3 1
 3 3 2 3 2 3 3 1 2 3 1 3 1 3 3 1 2 1 3 3 3 3 3 2 3 3 2 2 3 1 3 3 3 1 2 1 3
 3 1 3 1 1 3 2 3 2 3 3 3 1 3 3 3 1 3 1 3 3 3 2 3 3 3 2 3 3 2 1 1 3 1 3 3 2
 2 3 3 1 2 1 2 2 2 3 3 3 3 1 3 1 3 3 2 2 3 3 3 1 1 3 3 3 1 2 3 3 1 3 1 1 3
 3 3 2 2 1 1 3 1 1 1 3 2 3 1 2 3 3 2 3 2 2 1 3 2 3 2 3 1 3 2 2 2 3 3 1 3 3
 1 1 1 3 3 1 3 2 1 3 2 3 3 3 2 2 3 2 3 1 3 3 3 1 3 1 1 3 3 3 3 3 2 3 2 3 3
 3 3 1 3 1 1 3 3 3 3 3 3 1 3 2 3 1 3 2 1 3 3 3 2 2 1 3 3 3 1 3 2 1 3 3 2 3
 3 1 3 2 3 3 1 3 1 3 3 3 3 2 3 1 3 2 3 3 3 1 3 3 3 1 3 2 1 3 3 3 3 3 2 1 3
 3 3 1 2 3 1 1 3 3 3 2 1 3 2 2 2 1 3 3 3 1 1 3 2 3 3 3 3 1 2 3 3 2 3 3 2 1
 3 1 3].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [39]:
df = pd.get_dummies(df, columns = ["Pclass"],prefix="Pc",drop_first=True) # correct

In [40]:
df.head()

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pc_2,Pc_3
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,0,0
2,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,0,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0,1

In [5]:
df = pd.read_csv("titanic.csv",usecols = ["Embarked"])

In [38]:
df["Embarked"].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [39]:
df.dropna(inplace=True)

In [40]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1

### Onehotencoding with many categories in a feature

In [149]:
df = pd.read_csv("mercedes.csv",usecols = ["X0","X1","X2","X3","X4","X5","X6"])

In [111]:
df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [102]:
for i in df.columns:
    print(i,pd.DataFrame((df[i].value_counts().index)).index[-1])

X0 46
X1 26
X2 43
X3 6
X4 3
X5 28
X6 11

In [82]:
counts

array(['a', 'aa', 'ab', 'ac', 'ad', 'af', 'ai', 'aj', 'ak', 'al', 'am',
       'ao', 'ap', 'aq', 'as', 'at', 'au', 'aw', 'ax', 'ay', 'az', 'b',
       'ba', 'bc', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm',
       'n', 'o', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
      dtype=object)

In [9]:
for i in df.columns:
    print(i,len(df[i].value_counts()))

X0 47
X1 27
X2 44
X3 7
X4 4
X5 29
X6 12

In [22]:
list10 = df["X0"].value_counts().sort_values(ascending=False).head(10).index

In [150]:
def allonehotencoding(df,columns):
    for i in columns:    
        for categories in (df[i].value_counts().sort_values(ascending=False).head(10).index):
            df[i+"_"+categories]=np.where(df[i]==categories,1,0)

In [151]:
allonehotencoding(df,df.columns)

In [155]:
df=df.drop(["X0","X1","X2","X3","X4","X5","X6"],axis=1)

In [156]:
df

,X0_z,X0_ak,X0_y,X0_ay,X0_t,X0_x,X0_o,X0_f,X0_n,X0_w,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_a,X6_h,X6_k,X6_c,X6_b
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4205,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4206,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4207,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4208,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

## Ordinal_Number_Encoder

In [157]:
import datetime

In [158]:
today_date = datetime.datetime.today()

In [159]:
today_date

datetime.datetime(2020, 8, 19, 17, 20, 54, 592194)

In [161]:
datetime.timedelta(1)

datetime.timedelta(days=1)

In [162]:
today_date-datetime.timedelta(1)

datetime.datetime(2020, 8, 18, 17, 20, 54, 592194)

In [214]:
#### List Comprehension
days = [today_date-datetime.timedelta(x) for x in range(0,15)]

In [215]:
import pandas as pd
data=pd.DataFrame(days,columns=["Day"])

In [216]:
data.head()

                         Day
0 2020-08-19 17:20:54.592194
1 2020-08-18 17:20:54.592194
2 2020-08-17 17:20:54.592194
3 2020-08-16 17:20:54.592194
4 2020-08-15 17:20:54.592194

In [203]:
data["Day"].dt.day_name

In [217]:
data["Day"].dt.week

0     34
1     34
2     34
3     33
4     33
5     33
6     33
7     33
8     33
9     33
10    32
11    32
12    32
13    32
14    32
Name: Day, dtype: int64

In [218]:
data["Day"].dt.date

0     2020-08-19
1     2020-08-18
2     2020-08-17
3     2020-08-16
4     2020-08-15
5     2020-08-14
6     2020-08-13
7     2020-08-12
8     2020-08-11
9     2020-08-10
10    2020-08-09
11    2020-08-08
12    2020-08-07
13    2020-08-06
14    2020-08-05
Name: Day, dtype: object

In [219]:
data["Day"].dt.month

0     8
1     8
2     8
3     8
4     8
5     8
6     8
7     8
8     8
9     8
10    8
11    8
12    8
13    8
14    8
Name: Day, dtype: int64

In [220]:
data["Day"].dt.hour

0     17
1     17
2     17
3     17
4     17
5     17
6     17
7     17
8     17
9     17
10    17
11    17
12    17
13    17
14    17
Name: Day, dtype: int64

In [221]:
data["Day"].dt.minute

0     20
1     20
2     20
3     20
4     20
5     20
6     20
7     20
8     20
9     20
10    20
11    20
12    20
13    20
14    20
Name: Day, dtype: int64

In [230]:
data["weekday"] =data["Day"].dt.day_name()

In [231]:
data

                          Day    weekday  weekday_ordinal
0  2020-08-19 17:20:54.592194  Wednesday              NaN
1  2020-08-18 17:20:54.592194    Tuesday              NaN
2  2020-08-17 17:20:54.592194     Monday              NaN
3  2020-08-16 17:20:54.592194     Sunday              NaN
4  2020-08-15 17:20:54.592194   Saturday              NaN
5  2020-08-14 17:20:54.592194     Friday              NaN
6  2020-08-13 17:20:54.592194   Thursday              NaN
7  2020-08-12 17:20:54.592194  Wednesday              NaN
8  2020-08-11 17:20:54.592194    Tuesday              NaN
9  2020-08-10 17:20:54.592194     Monday              NaN
10 2020-08-09 17:20:54.592194     Sunday              NaN
11 2020-08-08 17:20:54.592194   Saturday              NaN
12 2020-08-07 17:20:54.592194     Friday              NaN
13 2020-08-06 17:20:54.592194   Thursday              NaN
14 2020-08-05 17:20:54.592194  Wednesday              NaN

In [232]:
dictionary= {"Monday":1,"Tuesday":2,"Wednesday":3,"Thursday":4,"Friday":5,"Saturday":6,"Sunday":7}

In [233]:
dictionary

{'Monday': 1,
 'Tuesday': 2,
 'Wednesday': 3,
 'Thursday': 4,
 'Friday': 5,
 'Saturday': 6,
 'Sunday': 7}

In [234]:
data["weekday_ordinal"]  = data["weekday"].map(dictionary)

In [235]:
data.head()

                         Day    weekday  weekday_ordinal
0 2020-08-19 17:20:54.592194  Wednesday                3
1 2020-08-18 17:20:54.592194    Tuesday                2
2 2020-08-17 17:20:54.592194     Monday                1
3 2020-08-16 17:20:54.592194     Sunday                7
4 2020-08-15 17:20:54.592194   Saturday                6

## 2.Count Or Frequency Encoding

In [291]:
train_set = pd.read_csv("http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data",index_col=None,header=None)

In [292]:
train_set.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [293]:
len(train_set.iloc[1].unique())

13

In [294]:
train_set = train_set.select_dtypes("object")

In [295]:
train_set.columns

Int64Index([1, 3, 5, 6, 7, 8, 9, 13, 14], dtype='int64')

In [296]:
train_set.iloc[:,0]=train_set.iloc[:,0].map(train_set.iloc[:,0].value_counts().to_dict())

In [305]:
train_set[3].value_counts()

 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: 3, dtype: int64

In [303]:
train_set

,1,3,5,6,7,8,9,13,14
0,1298,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,2541,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,22696,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,22696,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,22696,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...
32556,22696,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,22696,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,22696,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,22696,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,1116,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

## Advantages

1.Easy to use

2.Not increasing feature space

## Disadvantages

1. it will provide same weight if the frequencies are same

### 3.Target Guided Ordinal Encoding

1.Ordering Guided Ordinal Encoding

2.Replace the labels by the joint probability of being 1 or 0

In [40]:
import pandas as pd
df = pd.read_csv("titanic.csv", usecols = ["Cabin","Survived"])
df.head()

   Survived Cabin
0         0   NaN
1         1   C85
2         1   NaN
3         1  C123
4         0   NaN

In [41]:
df.fillna("Missing",inplace =True)

In [42]:
df.head(10)

   Survived    Cabin
0         0  Missing
1         1      C85
2         1  Missing
3         1     C123
4         0  Missing
5         0  Missing
6         0      E46
7         0  Missing
8         1  Missing
9         1  Missing

In [43]:
df["Cabin"]=df["Cabin"].astype(str).str[0]

In [44]:
df.head()

   Survived Cabin
0         0     M
1         1     C
2         1     M
3         1     C
4         0     M

In [45]:
lst=df["Cabin"].unique()

In [46]:
df.groupby(["Cabin"])["Survived"].mean()

Cabin
A    0.466667
B    0.744681
C    0.593220
D    0.757576
E    0.750000
F    0.615385
G    0.500000
M    0.299854
T    0.000000
Name: Survived, dtype: float64

In [47]:
ordinal_labels = df.groupby(["Cabin"])["Survived"].mean().sort_values().index
ordinal_labels

Index(['T', 'M', 'A', 'G', 'C', 'F', 'B', 'E', 'D'], dtype='object', name='Cabin')

In [48]:
ordinal_labels2={k:i for i,k in enumerate(ordinal_labels,0)}

In [49]:
ordinal_labels2

{'T': 0, 'M': 1, 'A': 2, 'G': 3, 'C': 4, 'F': 5, 'B': 6, 'E': 7, 'D': 8}

In [50]:
df["Cabin_Target_Ordinal_Encode"]=df["Cabin"].map(ordinal_labels2)

In [51]:
df.head()

   Survived Cabin  Cabin_Ordinal_Encode
0         0     M                     1
1         1     C                     4
2         1     M                     1
3         1     C                     4
4         0     M                     1

### 4.Mean Encoding

In [54]:
mean_encoded=df.groupby(["Cabin"])["Survived"].mean().to_dict()

In [57]:
df["mean_ordinal_encode"] = df["Cabin"].map(mean_encoded)

In [58]:
df

     Survived Cabin  Cabin_Ordinal_Encode  mean_ordinal_encode
0           0     M                     1             0.299854
1           1     C                     4             0.593220
2           1     M                     1             0.299854
3           1     C                     4             0.593220
4           0     M                     1             0.299854
..        ...   ...                   ...                  ...
886         0     M                     1             0.299854
887         1     B                     6             0.744681
888         0     M                     1             0.299854
889         1     C                     4             0.593220
890         0     M                     1             0.299854

[891 rows x 4 columns]

In [60]:
from sklearn.preprocessing import LabelEncoder
label_obj = LabelEncoder()
df["Label_Encode"]=label_obj.fit_transform(df["Cabin"])

In [61]:
df

     Survived Cabin  Cabin_Ordinal_Encode  mean_ordinal_encode  Label_Encode
0           0     M                     1             0.299854             7
1           1     C                     4             0.593220             2
2           1     M                     1             0.299854             7
3           1     C                     4             0.593220             2
4           0     M                     1             0.299854             7
..        ...   ...                   ...                  ...           ...
886         0     M                     1             0.299854             7
887         1     B                     6             0.744681             1
888         0     M                     1             0.299854             7
889         1     C                     4             0.593220             2
890         0     M                     1             0.299854             7

[891 rows x 5 columns]

In [66]:
?LabelEncoder

Init signature: LabelEncoder()
Docstring:
Encode target labels with value between 0 and n_classes-1.

This transformer should be used to encode target values, *i.e.* `y`, and
not the input `X`.

Read more in the :ref:`User Guide <preprocessing_targets>`.

.. versionadded:: 0.12

Attributes
----------
classes_ : array of shape (n_class,)
    Holds the label for each class.

Examples
--------
`LabelEncoder` can be used to normalize labels.

>>> from sklearn import preprocessing
>>> le = preprocessing.LabelEncoder()
>>> le.fit([1, 2, 2, 6])
LabelEncoder()
>>> le.classes_
array([1, 2, 6])
>>> le.transform([1, 1, 2, 6])
array([0, 0, 1, 2]...)
>>> le.inverse_transform([0, 0, 1, 2])
array([1, 1, 2, 6])

It can also be used to transform non-numerical labels (as long as they are
hashable and comparable) to numerical labels.

>>> le = preprocessing.LabelEncoder()
>>> le.fit(["paris", "paris", "tokyo", "amsterdam"])
LabelEncoder()
>>> list(le.classes_)
['amsterdam', 'paris', 'tokyo']
>>> le.transform(["tokyo", "tokyo", "paris"])
array([2, 2, 1]...)
>>> list(le.inverse_transform([2, 2, 1]))
['tokyo', 'tokyo', 'paris']

See also
--------
sklearn.preprocessing.OrdinalEncoder : Encode categorical features
    using an ordinal encoding scheme.

sklearn.preprocessing.OneHotEncoder : Encode categorical features
    as a one-hot numeric array.
File:           c:\users\mwolf\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py
Type:           type
Subclasses:

### 5.Probability Ratio Encoding

1.Probability of Survived based on Cabin ---- Categorical Feature

2.Probability of not Survived ---  1-[Survived]

3.[Survived]/[Not Survived]

4.Diictionary to map cabin with probabilty

5.replace with the categorical feature

In [119]:
df = pd.read_csv("titanic.csv",usecols=["Cabin","Survived"])

In [120]:
df

     Survived Cabin
0           0   NaN
1           1   C85
2           1   NaN
3           1  C123
4           0   NaN
..        ...   ...
886         0   NaN
887         1   B42
888         0   NaN
889         1  C148
890         0   NaN

[891 rows x 2 columns]

In [121]:
### Replacing 
df["Cabin"].fillna("Missing",inplace=True)

In [122]:
df["Cabin"].unique()

array(['Missing', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6',
       'C23 C25 C27', 'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33',
       'F G73', 'E31', 'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101',
       'F E69', 'D47', 'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4',
       'A32', 'B4', 'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35',
       'C87', 'B77', 'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19',
       'B49', 'D', 'C22 C26', 'C106', 'C65', 'E36', 'C54',
       'B57 B59 B63 B66', 'C7', 'E34', 'C32', 'B18', 'C124', 'C91', 'E40',
       'T', 'C128', 'D37', 'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44',
       'A34', 'C104', 'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14',
       'B37', 'C30', 'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38',
       'B39', 'B22', 'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68',
       'B41', 'A20', 'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48',
       'E58', 'C126', 'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63',
       'C62 C64', 'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30',
       'E121', 'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36',
       'B102', 'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42',
       'C148'], dtype=object)

In [123]:
df["Cabin"]=df["Cabin"].astype(str).str[0]

In [124]:
df

     Survived Cabin
0           0     M
1           1     C
2           1     M
3           1     C
4           0     M
..        ...   ...
886         0     M
887         1     B
888         0     M
889         1     C
890         0     M

[891 rows x 2 columns]

In [125]:
prob_df= df.groupby(["Cabin"])["Survived"].mean()
prob_df = pd.DataFrame(prob_df)
prob_df #probability of survived

       Survived
Cabin
A      0.466667
B      0.744681
C      0.593220
D      0.757576
E      0.750000
F      0.615385
G      0.500000
M      0.299854
T      0.000000

In [126]:
prob_df["Died"] = 1-prob_df["Survived"] #probability of died

In [127]:
prob_df.head()

       Survived      Died
Cabin
A      0.466667  0.533333
B      0.744681  0.255319
C      0.593220  0.406780
D      0.757576  0.242424
E      0.750000  0.250000

### Probability Ratio Encoding = Survived/Died

In [128]:
prob_df["Probability_ratio"] = prob_df["Survived"]/prob_df["Died"]

In [129]:
prob_df.head()

       Survived      Died  Probability_ratio
Cabin
A      0.466667  0.533333           0.875000
B      0.744681  0.255319           2.916667
C      0.593220  0.406780           1.458333
D      0.757576  0.242424           3.125000
E      0.750000  0.250000           3.000000

In [130]:
prob_encoded=prob_df["Probability_ratio"].to_dict()

In [131]:
df["Probability_ratio_encoded"]=df["Cabin"].map(prob_encoded)

In [132]:
df.head()

   Survived Cabin  Probability_ratio_encoded
0         0     M                   0.428274
1         1     C                   1.458333
2         1     M                   0.428274
3         1     C                   1.458333
4         0     M                   0.428274