## Impliement KFold Cross Validation and Stratified K Fold Cross Validation

In [59]:
import pandas as pd

In [60]:
df = pd.read_csv("Churn_Modelling.csv")

In [61]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [62]:
df["Exited"].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [63]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [64]:
for i in df.select_dtypes("object").columns:
    print(i, len(df[i].unique()))

Surname 2932
Geography 3
Gender 2

In [65]:
def allonehotencoding(df,columns):
    for i in columns:    
        for categories in (df[i].value_counts().sort_values(ascending=False).head(10).index):
            df[i+"_"+categories]=np.where(df[i]==categories,1,0)

In [66]:
allonehotencoding(df,["Geography","Gender"])

In [67]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Male,Gender_Female
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,0,0,0,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,0,0,1,0,1
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,0,0,0,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0,1,0,0,0,1
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,0,0,1,0,1

In [68]:
df=df.drop(["Surname","Geography","Gender","Geography_France","Gender_Male","RowNumber","CustomerId"],axis=1)

In [69]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Female
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,1
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,1
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,1
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,1
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,1

In [70]:
y= df["Exited"]
X=df.drop(["Exited"],axis=1)

### Cross_Validation

##### K Fold CV

In [71]:
from sklearn.ensemble import RandomForestClassifier
class_obj=RandomForestClassifier()

In [95]:
from sklearn.model_selection import cross_val_score,KFold, GroupKFold
fold = KFold(n_splits=10)
score = cross_val_score(class_obj,X,y,cv = fold,scoring="accuracy")

In [96]:
?GroupKFold

Init signature: GroupKFold(n_splits=5)
Docstring:
K-fold iterator variant with non-overlapping groups.

The same group will not appear in two different folds (the number of
distinct groups has to be at least equal to the number of folds).

The folds are approximately balanced in the sense that the number of
distinct groups is approximately the same in each fold.

Parameters
----------
n_splits : int, default=5
    Number of folds. Must be at least 2.

    .. versionchanged:: 0.22
        ``n_splits`` default value changed from 3 to 5.

Examples
--------
>>> import numpy as np
>>> from sklearn.model_selection import GroupKFold
>>> X = np.array([[1, 2], [3, 4], [5, 6], [7, 8]])
>>> y = np.array([1, 2, 3, 4])
>>> groups = np.array([0, 0, 2, 2])
>>> group_kfold = GroupKFold(n_splits=2)
>>> group_kfold.get_n_splits(X, y, groups)
2
>>> print(group_kfold)
GroupKFold(n_splits=2)
>>> for train_index, test_index in group_kfold.split(X, y, groups):
...     print("TRAIN:", train_index, "TEST:", test_index)
...     X_train, X_test = X[train_index], X[test_index]
...     y_train, y_test = y[train_index], y[test_index]
...     print(X_train, X_test, y_train, y_test)
...
TRAIN: [0 1] TEST: [2 3]
[[1 2]
 [3 4]] [[5 6]
 [7 8]] [1 2] [3 4]
TRAIN: [2 3] TEST: [0 1]
[[5 6]
 [7 8]] [[1 2]
 [3 4]] [3 4] [1 2]

See also
--------
LeaveOneGroupOut
    For splitting the data according to explicit domain-specific
    stratification of the dataset.
File:           c:\users\mwolf\anaconda3\lib\site-packages\sklearn\model_selection\_split.py
Type:           ABCMeta
Subclasses:

In [73]:
score

array([0.862, 0.854, 0.871, 0.86 , 0.86 , 0.854, 0.867, 0.884, 0.852,
       0.869])

In [74]:
score.mean()

0.8633000000000001

##### https://scikit-learn.org/stable/modules/model_evaluation.html#scoring-parameter

In [93]:
?cross_val_score

Signature:
cross_val_score(
    estimator,
    X,
    y=None,
    *,
    groups=None,
    scoring=None,
    cv=None,
    n_jobs=None,
    verbose=0,
    fit_params=None,
    pre_dispatch='2*n_jobs',
    error_score=nan,
)
Docstring:
Evaluate a score by cross-validation

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
estimator : estimator object implementing 'fit'
    The object to use to fit the data.

X : array-like of shape (n_samples, n_features)
    The data to fit. Can be for example a list, or an array.

y : array-like of shape (n_samples,) or (n_samples, n_outputs),             default=None
    The target variable to try to predict in the case of
    supervised learning.

groups : array-like of shape (n_samples,), default=None
    Group labels for the samples used while splitting the dataset into
    train/test set. Only used in conjunction with a "Group" :term:`cv`
    instance (e.g., :class:`GroupKFold`).

scoring : str or callable, default=None
    A str (see model evaluation documentation) or
    a scorer callable object / function with signature
    ``scorer(estimator, X, y)`` which should return only
    a single value.

    Similar to :func:`cross_validate`
    but only a single metric is permitted.

    If None, the estimator's default scorer (if available) is used.

cv : int, cross-validation generator or an iterable, default=None
    Determines the cross-validation splitting strategy.
    Possible inputs for cv are:

    - None, to use the default 5-fold cross validation,
    - int, to specify the number of folds in a `(Stratified)KFold`,
    - :term:`CV splitter`,
    - An iterable yielding (train, test) splits as arrays of indices.

    For int/None inputs, if the estimator is a classifier and ``y`` is
    either binary or multiclass, :class:`StratifiedKFold` is used. In all
    other cases, :class:`KFold` is used.

    Refer :ref:`User Guide <cross_validation>` for the various
    cross-validation strategies that can be used here.

    .. versionchanged:: 0.22
        ``cv`` default value if None changed from 3-fold to 5-fold.

n_jobs : int, default=None
    The number of CPUs to use to do the computation.
    ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
    ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
    for more details.

verbose : int, default=0
    The verbosity level.

fit_params : dict, default=None
    Parameters to pass to the fit method of the estimator.

pre_dispatch : int or str, default='2*n_jobs'
    Controls the number of jobs that get dispatched during parallel
    execution. Reducing this number can be useful to avoid an
    explosion of memory consumption when more jobs get dispatched
    than CPUs can process. This parameter can be:

        - None, in which case all the jobs are immediately
          created and spawned. Use this for lightweight and
          fast-running jobs, to avoid delays due to on-demand
          spawning of the jobs

        - An int, giving the exact number of total jobs that are
          spawned

        - A str, giving an expression as a function of n_jobs,
          as in '2*n_jobs'

error_score : 'raise' or numeric, default=np.nan
    Value to assign to the score if an error occurs in estimator fitting.
    If set to 'raise', the error is raised.
    If a numeric value is given, FitFailedWarning is raised. This parameter
    does not affect the refit step, which will always raise the error.

    .. versionadded:: 0.20

Returns
-------
scores : array of float, shape=(len(list(cv)),)
    Array of scores of the estimator for each run of the cross validation.

Examples
--------
>>> from sklearn import datasets, linear_model
>>> from sklearn.model_selection import cross_val_score
>>> diabetes = datasets.load_diabetes()
>>> X = diabetes.data[:150]
>>> y = diabetes.target[:150]
>>> lasso = linear_model.Lasso()
>>> print(cross_val_score(lasso, X, y, cv=3))
[0.33150734 0.08022311 0.03531764]

See Also
---------
:func:`sklearn.model_selection.cross_validate`:
    To run cross-validation on multiple metrics and also to return
    train scores, fit times and score times.

:func:`sklearn.model_selection.cross_val_predict`:
    Get predictions from each split of cross-validation for diagnostic
    purposes.

:func:`sklearn.metrics.make_scorer`:
    Make a scorer from a performance metric or loss function.
File:      c:\users\mwolf\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py
Type:      function

### train_test_split

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3 ,random_state = 99)

In [85]:
from sklearn.metrics import confusion_matrix, accuracy_score, plot_confusion_matrix
class_model = class_obj.fit(X_train,y_train)

In [86]:
y_pred=class_model.predict(X_test)

In [87]:
accuracy=accuracy_score(y_pred,y_test)

0.869

In [88]:
score.min()

0.852

In [89]:
score.max()

0.884

In [90]:
score.mean()

0.8633000000000001

In [92]:
#plot_confusion_matrix(class_model, y_pred, y_test)

ValueError: Expected 2D array, got 1D array instead:
array=[0. 0. 0. ... 1. 1. 0.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

## Stratified K Fold Cross Validation

In [52]:
X.shape,y.shape

((10000, 11), (10000,))

##### https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html#sklearn.model_selection.StratifiedKFold

In [53]:
from sklearn.model_selection import StratifiedKFold
folds = StratifiedKFold(n_splits=10,random_state=None,shuffle=False)
results = []
cv_results = cross_val_score(class_obj, X, y, cv = folds, scoring = "accuracy")
results.append(cv_results)
print(cv_results)
print("  Score {}  Standar_Deviation {}".format(round(cv_results.mean(),4),round(cv_results.std(),4),))

[0.866 0.857 0.879 0.864 0.866 0.847 0.863 0.873 0.858 0.861]
  Score 0.8634  Standar_Deviation 0.0083

In [54]:
from sklearn.model_selection import StratifiedKFold
from time import time
import datetime

accuracy = []
fold=-1
skf = StratifiedKFold(n_splits=10 ,random_state= None,shuffle=False)
skf.get_n_splits(X,y)
training_start_time = time()
for train_index,test_index in skf.split(X,y):
    fold=fold+1
    start_time = time()
    print('Training on fold {}'.format(fold + 1))
    #print("Train:", train_index,"Validation:",test_index)
    X1_train, X1_test = X.iloc[train_index], X.iloc[test_index]
    y1_train,y1_test = y.iloc[train_index],y.iloc[test_index]
    
    class_obj.fit(X1_train,y1_train)
    y_pred = class_obj.predict(X1_test)
    score = accuracy_score(y_pred,y1_test)
    print('Training acc : {}'.format(score),"                        ",)
    accuracy.append(score)
    print('Fold {} finished in {}'.format(fold + 1, str(datetime.timedelta(seconds=time() - start_time))))
print('-' * 30)
print('Training has finished.')
print('Total training time is {}'.format(str(datetime.timedelta(seconds=time() - training_start_time))))
print('Mean AUC:', np.mean(accuracy))
print('-' * 30)

Training on fold 1
Training acc : 0.849
Fold 1 finished in 0:00:02.004694
Training on fold 2
Training acc : 0.863
Fold 2 finished in 0:00:02.059667
Training on fold 3
Training acc : 0.869
Fold 3 finished in 0:00:02.248532
Training on fold 4
Training acc : 0.864
Fold 4 finished in 0:00:02.083607
Training on fold 5
Training acc : 0.85
Fold 5 finished in 0:00:02.052766
Training on fold 6
Training acc : 0.858
Fold 6 finished in 0:00:01.972834
Training on fold 7
Training acc : 0.859
Fold 7 finished in 0:00:02.327496
Training on fold 8
Training acc : 0.856
Fold 8 finished in 0:00:02.070808
Training on fold 9
Training acc : 0.87
Fold 9 finished in 0:00:02.130927
Training on fold 10
Training acc : 0.874
Fold 10 finished in 0:00:01.930140
------------------------------
Training has finished.
Total training time is 0:00:20.893479

Mean AUC: 0.8612
------------------------------

### How to select the best model using cross validation in python

In [55]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB

C:\Users\mwolf\Anaconda3\lib\site-packages\dask\dataframe\utils.py:14: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [56]:
def base_models(X,y):
    from sklearn.model_selection import cross_val_score,StratifiedKFold,KFold
    results = []
    A = []
    names = ["LogisticRegression","GaussianNB","KNN",
             "CART","RF","GBM","XGBoost","LightGBM","CatBoost"]
    classifiers = [LogisticRegression(),GaussianNB(), KNeighborsClassifier(),
                  RandomForestClassifier(), GradientBoostingClassifier(),
                  XGBClassifier(), LGBMClassifier(), CatBoostClassifier(verbose = False)]
    for fold in [KFold,StratifiedKFold]:
        print(30*"-")
        print("For {}  -----------".format(fold))
        for name, clf in zip(names, classifiers):

            folds = fold(n_splits=5)
            cv_results = cross_val_score(clf, X, y, cv = folds, scoring = "accuracy")
            results.append(cv_results)
            A.append(name)
            print("Model_Name {}  Score {}  Standar_Deviation {}".format(name,round(cv_results.mean(),4),round(cv_results.std(),4),))

In [57]:
base_models(X,y)

------------------------------
For <class 'sklearn.model_selection._split.KFold'>  -----------
Model_Name LogisticRegression  Score 0.7901  Standar_Deviation 0.0049
Model_Name GaussianNB  Score 0.7843  Standar_Deviation 0.0064
Model_Name KNN  Score 0.7641  Standar_Deviation 0.004
Model_Name CART  Score 0.8635  Standar_Deviation 0.0034
Model_Name RF  Score 0.8654  Standar_Deviation 0.0062
Model_Name GBM  Score 0.8571  Standar_Deviation 0.0044
Model_Name XGBoost  Score 0.8618  Standar_Deviation 0.0051
Model_Name LightGBM  Score 0.8661  Standar_Deviation 0.0046
------------------------------
For <class 'sklearn.model_selection._split.StratifiedKFold'>  -----------
Model_Name LogisticRegression  Score 0.7906  Standar_Deviation 0.0017
Model_Name GaussianNB  Score 0.7847  Standar_Deviation 0.0026
Model_Name KNN  Score 0.766  Standar_Deviation 0.0009
Model_Name CART  Score 0.8651  Standar_Deviation 0.0062
Model_Name RF  Score 0.8648  Standar_Deviation 0.0063
Model_Name GBM  Score 0.8547  Standar_Deviation 0.0079
Model_Name XGBoost  Score 0.8625  Standar_Deviation 0.0062
Model_Name LightGBM  Score 0.8656  Standar_Deviation 0.0072